@model DateTime

<div class="text-center">
    <h4>
        <a asp-route-mes="@ViewBag.mesAnterior" asp-route-year="@ViewBag.yearAnterior" class="btn btn-secondary"><i class="bi-chevron-left"></i></a>
        @Model.ToString("MMM")-@Model.Year
        <a class="btn btn-secondary" asp-route-mes="@ViewBag.mesPosterior" asp-route-year="@ViewBag.yearPosterior"><i class="bi-chevron-right"></i></a>
    </h4>
</div>
